.content {
  max-width: 880px;
  margin: 0 auto;
}

@media screen and (max-width: 620px) {
  .content {
    width: calc(100vw - 38px);
    max-width: 360px;
  }
}

@media screen and (max-width: 950px) and (min-width: 621px) {
  .content {
    width: calc(100vw - 38px);
    max-width: 720px;
  }
}